.multiproduct {
  padding-left:0;
  margin: 0px;
  clear: both;
}	

.multiproduct .multimo-product {
  padding: 0 1.5rem;
  padding-bottom: 3rem;
  text-align: center;
  position: relative;
  z-index: 0;	
}

.multiproduct .multimo-product a {
  background: #fff;
  font-weight: 400;
  display: block;
  min-height: 40px;
}
.multiproduct .multimo-product a:hover {
  text-decoration: none;
}
.multiproduct .multimo-product  a strong {
  font-weight: 600;
}
.multiproduct .multimo-product  a span {
  font-size: 1.6rem;
  color: #555;
  font-weight: 300;
}
.multiproduct .multimo-product a img {
  width: 100%;
  border-radius: 3px;
}

.multiproduct .multimo-product .multimo-info {
  background: #fff;
  border-radius: 3px;
  position: relative;
  top: 0;
  padding-bottom: 1.5rem;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.multiproduct .multimo-product .multimo-info span {
  font-size: 1.6rem;
  color: #555;
  font-weight: 300;
}

.multiproduct .multimo-product .multimo-info .brand-product {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  color: #999;
  margin-top: 1.5rem;
  margin-bottom: 20px;
  display: inline-block;
  line-height: 1rem;
}

.multiproduct .multimo-product .multimo-info .category-product {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  color: #999;
  margin-top: 1.5rem;
  display: inline-block;
  line-height: 1rem;
}
.multiproduct .multimo-product .multimo-info .brand-product .the-product-status {
  display: block;
  width: 100%;
  line-height: 1.7rem;
  height: 1.7rem;
  padding-bottom: 5rem;
}
.multiproduct .multimo-product .multimo-info .brand-product .the-product-status span {
  display: inline-block;
  border-radius: 3px;
  background: #fb5656;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.7rem;
  padding: 0 0.6rem;
  position: relative;
}

.multiproduct .multimo-product .multimo-info sup {
  font-size: 1rem;
}
.multiproduct .multimo-product .multimo-info h3 {
  font-size: 1.6rem;
  font-weight: 400;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-style: normal;
  margin-bottom: 5px;
  padding: 0;
  margin-top: -0.5rem;
  color: #555;
}

.multiproduct .multimo-product:hover .multimo-info {
  top: -1.5rem;
}