html body {
  /*background-color: #f8f9fb;*/
  background-color: #fff;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  font-family: "Montserrat", Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #000;
  position: relative;
  z-index: 1;
  min-height: 100%;
}
